body {
    margin: 20px;
    font-family: Helvetica-neue, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

#content {
    max-width: 32.5em;
    overflow: hidden;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 1.6em;
    color: #333;
    font-weight: normal;
    line-height: 1.5em;
}

p {
    line-height: 1.3em;
}

.post-title {
    color: #333;
    font-weight: 700;
}
